:root {
    --pageBg: #212121;
    --mainColor:  #D94E28;
    --mainColorFaded: #851d00;/*#c6542487;*/
    --pageBgFaded: #2b2b2b;

    --orange: #D94E28;
    --yellow: #FFFA9B;
    --transOrange: #573526;
    --referrer: #646464;
    --reward: #8A7B5A;
    --grayed: #494949;
}

body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    Top Bar
*/
#mainLogo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100px;
}

#walletCircle {
    width: 55px;
    height: 55px;
    border-radius: 80px;
    background-color: transparent;   
    border: 2.5px solid white; 
    position: absolute;
    right: 10px;
    top: 10px;
}
#walletCircle:hover {
    background-color: var(--transOrange);
    cursor: pointer;
    border: 2.5px solid var(--mainColor);
}

#walletImage {
    width: 44px;
    position: absolute;
    left: 3.1px;
    top: 3px;
}

#usersWallet {
    font-weight: 600;
    font-size: 1.3em;
    text-align: right;
    color:white;
    position: absolute;
    right: 80px;
    top: 28px;
}

/*
    Menu
*/
#menuDiv {
    position: absolute;
    top: 120px;
    left: 20px;
}

.menuButton {
    height: 50px;
    width: 270px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-width: 0px;
    display: block;
    margin-top: 10px;
    text-align: left;
}

.menuButton_selected {
   /* background-color: var(--orange);*/
   color: var(--mainColor);
}
.menuButton_unselected {
    opacity: 0.4;
}
.menuButton_unselected:hover {
    cursor: not-allowed;
}
.menuButton_clickable:hover {
    cursor: pointer;
    /*background-color: var(--mainColorFaded);*/
    color: var(--mainColorFaded);
}

.menuImage {
    width: 26px;
    position: relative;
    left: 0px;
    top: 50%;
    transform: translateY(-52%);
    float: left;
    margin-left: 5px;
}

.menuText {
    font-weight: 600;
    font-size: large;
    position: relative;
    transform: translateY(-15%);
    margin-left: 37px;
}


/* pair Address */
#pairAddressBlock {
    position: absolute;
    bottom: 100px;
    left: 30px;
    line-height: 0px;
}

.pairAddress {
    font-size: 0.9em;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.pairHref {
    font-weight: 200;
    color: white;
}

.copySquare {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    position: absolute;
    align-items: center;
    text-align: center;
    left: 170px;
    background-color: transparent;
}
.copySquare:hover {
    background-color: var(--grayed);
    cursor: pointer;
}
#copyToken {
    top: 25px;
}
#copyPair {
    top: 60px;
}

.copyImage {
    width: 13px;
    position: absolute;
    left: 3px;
    top: 2px;
}

.copyImageTick {
    width: 13px;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    visibility: hidden;
}

/* Logos */
#cryptologosbar {
    position: absolute;
    left: 30px;
    bottom: 40px;
}

.cryptologo {
    width: 20px;
    margin-right: 10px;
}
.cryptologo:hover {
    cursor: pointer;
}

.tbc {
    opacity: 0.3;
} 
.tbc:hover {
    cursor: not-allowed;
}


/*
    SimpleStat
*/ 

.simpleStatBlock {
    color: var(--mainColor);
    width: 150px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(58, 58, 58, 0.7);
}

.simpleStatLabel {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: larger;
}

.simpleStat {
    margin-top: -10px;
    text-align: center;
}

#block_simplestat {
    position: absolute;
    left: 0px; 
    top: 0px;
}

/*
    Stat Table
*/

#homepage {
    position: absolute;
    left: 250px;
    width: calc(100% - 300px);
    align-items: center;
    /* for testing width 
    border-radius: 30px;
    border: 2px solid white; */
}

.statTable {
    position: absolute;
    background-color: var(--pageBgFaded);
    border-radius: 20px;
    top: 110px;
    left: min(10%,300px);
   /* transform: translateX(-50%);*/
    color: white;
    text-align: center;
}
.fullWidth {
    width: 90%;
  /*  max-width: 750px;*/
}
.centralWidth {
    width: 75%;
    left: 50%;
    transform: translateX(-40%);
  /*  max-width: 750px;*/
}

h4 {
    font-weight: 200;
    font-size: 1.1em;
    color: rgb(169, 169, 169);
    margin-top: 15px;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    margin-top: -15px;
}

#treasuryValueBlock {
    position: absolute;
    top: 350px;
    height: 110px;
    left: min(10%,600px);
    width: calc(45% - 20px);
   /* max-width: 355px;*/
    padding-top: 15px;
  /*  transform: translateX(-50%);*/

}

#poolValueBlock {
    position: absolute;
    top: 350px;
    height: 110px;
    left: auto; 
    right: 0px;
    width: calc(45% - 20px);
    padding-top: 15px;
}

#leftThirdBlock {
    top: 515px;
    height: 110px;
    left: min(10%,600px);
    width: calc(30% - 20px);
    padding-top: 15px;
}

#rightThirdBlock {
    top: 515px;
    height: 110px;
    left: auto; 
    right: 0px;
    width: calc(30% - 20px);
    padding-top: 15px;
}

#middleThirdBlock {
    top: 515px;
    height: 110px;
    left: auto; 
    right: 45%;
    transform: translateX(50%);
    width: calc(30% - 40px);
    padding-top: 15px;
}

/*
    Account
*/
#account {
    position: absolute;
    left: 250px;
    width: calc(100% - 300px);
    align-items: center;
}

h5 {
    font-weight: 200;
    font-size: 1.1em;
    color: rgb(169, 169, 169);
    margin-top: -15px;
}

.listLeft {
    text-align: left;
    padding-left: 25px;
}
.listRight {
    text-align: right;
    padding-right: 25px;
    padding-top: 30px; 
}
.listRow {
    padding: 0px;
    margin: 0px;
}

/*
    Calculator
*/
#calculator {
    position: absolute;
    left: 250px;
    width: calc(100% - 300px);
}

.inputBlock {
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    height: 100px; 
    left: min(10%,600px);
    width: calc(45% - 20px);
    text-align: left; 
    color: white;
    text-align: center;
}

.left {
    left: min(10%,300px);
}
.right {
    left: auto; 
    right: 0px;
    width: calc(45% - 20px);
}

.stakeInput {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white; 
    padding-left: 10px;
    font-size: 1.2em;
    color: white; 
    background-color: #494949;
    position: absolute;
    top: 35px; 
    left: 5%; 
}

.inputLabel {
    text-align: left;
    position: absolute;
    top: 25px; 
    left: 5%; 
}

.maxCalc {
    background-color: transparent;
    border: 0px solid white; 
    color: white;
    font-size: 1em;
    position: absolute;
    right: calc(5% + 10px);
    top: 45px;
}
.maxCalc:hover {
    color: var(--mainColor);
    cursor: pointer;
}
#tokenAmountBlock {
    top: 290px;
}
#APYBlock {
    top: 290px;
}
#tokenPricePurchaseBlock {
    top: 380px;
}
#tokenPriceFutureBlock {
    top: 380px;
}

.slidecontainer {
    position: absolute; 
    width: 100%; 
    left: min(13%,300px);
    top: 475px;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .slider[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      width: 85%; 
      background-color: var(--pageBgFaded);
      border-radius: 10px; 
    }
    
    .slider[type='range']::-webkit-slider-runnable-track {
      height: 21px;
      -webkit-appearance: none;
      color: var(--mainColor);
      margin-top: -1px;
    }
    
    .slider[type='range']::-webkit-slider-thumb {
      width: 21px;
      -webkit-appearance: none;
      height: 21px;
      border-radius: 10px;
      cursor: ew-resize;
      border: 2px solid var(--mainColor);
      background: var(--pageBgFaded);
      box-shadow: -1000px 0 0 987px var(--mainColor);
      margin-top: 0px;
      padding-left: 3px;
    }

}
/** FF*/
.slider[type="range"]::-moz-range-progress {
  background-color: var(--mainColor); 
}
.slider[type="range"]::-moz-range-track {  
  background-color:  var(--pageBgFaded);
}
/* IE*/
.slider[type="range"]::-ms-fill-lower {
  background-color: var(--mainColor); 
}
.slider[type="range"]::-ms-fill-upper {  
  background-color:  var(--pageBgFaded)
}

#selectedRange {
    color: white; 
    font-size: 1.2em; 
}

.calc_left {
    position: absolute;
    color: rgb(169, 169, 169);
    left: 0px; 
    font-size: 1.1em; 
}
.calc_right {
    position: absolute;
    color: white; 
    left: auto;
    right: 125px; 
}
